ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 24px;
    justify-content: center;
    margin-top: 84px;
}

.gallery-image {
    width: 360px;
    height: 200px;
    transition: transform 0.3s ease;
}

.gallery-image:hover {
    transform: scale(1.03);
}

